<%= render 'layouts/navbar' %>

<div class="points-locker">
  <div class="container">
    <div class="row">
      <div class="col-md-5 whole-column">
        <div class="row">
          <div class="col-md-12 points">
            <div class="point-num">
              <h1>50</h1>
              <h3>points</h3>
            </div>
          </div>
          <div class="col-md-12 upload">
          </div>
        </div>
      </div>
      <div class="col-md-7 whole-column awards">
        <div class="lab-item">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('https://lebronjames.blob.core.windows.net/resource/Image/product/21/s_yo_prometo_band.jpg');">
                <span class="text-content">
                  <span>
                    Yo Prometo I PROMISE Band
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="lab-item">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('https://lebronjames.blob.core.windows.net/resource/Image/product/21/s_yo_prometo_band.jpg');">
                <span class="text-content">
                  <span>
                    Yo Prometo I PROMISE Band!
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="lab-item">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('https://lebronjames.blob.core.windows.net/resource/Image/product/21/s_yo_prometo_band.jpg');">
                <span class="text-content">
                  <span>
                    Yo Prometo I PROMISE Band!
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="lab-item">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('https://lebronjames.blob.core.windows.net/resource/Image/product/21/s_yo_prometo_band.jpg');">
                <span class="text-content">
                  <span>
                    Yo Prometo I PROMISE Band!
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="lab-item">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('https://lebronjames.blob.core.windows.net/resource/Image/product/21/s_yo_prometo_band.jpg');">
                <span class="text-content">
                  <span>
                    Yo Prometo I PROMISE Band!
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
