<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-md-6 whole-column">
      <div class="row">
        <div class="col-md-12 points">
          points
        </div>
        <div class="col-md-12 upload">Span 6</div>
      </div>
    </div>
    <div class="col-md-6 whole-column awards">Span 6</div>
  </div>
</div>
