<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-md-6 whole-column">
      <div class="row">
        <div class="col-md-12 points">
          <div class="point-num">
            <h1>50</h1>
            <h3>points</h3>
          </div>
        </div>
        <div class="col-md-12 upload">Span 6</div>
      </div>
    </div>
    <div class="col-md-6 whole-column awards">
      <div class="award">
        <br />
        Award 1
        <br />
        <br />
        <div class="col-md-6"><h2>20</h2></div>
        <div class="col-md-6"><h2>Shoes</h2></div>
      </div>
      <div class="award">
        <br />
        Award 2
        <br />
        <br />
        <div class="col-md-6"><h2>20</h2></div>
        <div class="col-md-6"><h2>Shoes</h2></div>
      </div>
      <div class="award">
        <br />
        Award 3
        <br />
        <br />
        <div class="col-md-6"><h2>20</h2></div>
        <div class="col-md-6"><h2>Shoes</h2></div>
      </div>
      <div class="award">
        <br />
        Award 4
        <br />
        <br />
        <div class="col-md-6"><h2>20</h2></div>
        <div class="col-md-6"><h2>Shoes</h2></div>
      </div>
    </div>
  </div>
</div>
