<%= render 'layouts/navbar' %>

<<<<<<< HEAD
<div id="calendar" class="fc fc-ltr fc-unthemed">test</div>

<script> $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

}); </script>
=======
<div class="container">
  <div id='calendar'></div>
</div>
>>>>>>> 9a20e3c6023098466c3e0c6d0d737bec8ab2716b

