<%= render 'layouts/navbar' %>

<<<<<<< HEAD
<% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index +=1 %></td>
      <td><%= user.email %></td>
      <td>
        <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation" %>
      </td>
    </tr>
<% end %>
=======
<div class="container">
	<h1> chat </h1>
</div>
>>>>>>> 9a20e3c6023098466c3e0c6d0d737bec8ab2716b
