/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	padding-top: 70px;
}

/* 
.navbar {
    background-color: #fcb040;
    border-color: #3e3e3e;

}

.navbar .navbar-brand {
    color: #056839;
}
.navbar .navbar-brand:hover,
.navbar.navbar-brand:focus {
    color: #3e3e3e;
}
*/







.navbar {
  background-color: #fcb040;
  border-color: #fcb040;
}
.navbar .navbar-brand {
  color: #ac6907;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #666666;
}
.navbar .navbar-text {
  color: #ac6907;
}
.navbar .navbar-nav > li > a {
  color: #ac6907;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: #666666;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  color: #666666;
  background-color: #fcb040;
}
.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
  color: #666666;
  background-color: #fcb040;
}
.navbar .navbar-toggle {
  border-color: #fcb040;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #fcb040;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ac6907;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ac6907;
}
.navbar .navbar-link {
  color: #ac6907;
}
.navbar .navbar-link:hover {
  color: #666666;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ac6907;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #666666;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #666666;
    background-color: #fcb040;
  }
