// Place all the styles related to the points_locker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row, .whole-column {
  height: 100%;
}

.points {
  text-align: center;
  height: 50%;
}

.upload {
  text-align: center;
  background-color: blue;
  height: 50%;
}

.awards {
  padding-top: 5%;
  text-align: center;
  height: 100%;
}

.point-num {
  color: black;
  position: relative;
  top: 10%;
}

.award {
  border-bottom: thin solid black;
  height: 20%;
}

h1 {
  font-size: 110px;
}

h3 {
  font-size: 40px;
}
